## Libraries

In [5]:
#data-manipulation
import pandas as pd
import numpy as np
import nltk

In [2]:
#dtata-visualization
import matplotlib.pyplot as plt
import seaborn as sns

In [4]:
#financial-data & black litterman model
#!pip install yfinance
#!pip install PyPortfolioOpt
import yfinance as yf
from pypfopt import black_litterman, risk_models
from pypfopt.black_litterman import BlackLittermanModel
from pypfopt.efficient_frontier import EfficientFrontier
#!pip install refinitiv.data --user
import refinitiv.data as rd

https://lynnshin.tistory.com/14

## Refinitiv (need to check)

In [22]:
rd.open_session()

In [23]:
df1 = rd.get_history(universe=['GOOG.O'],
                    fields=["TR.PriceOpen", "TR.PriceHigh", "TR.PriceLow", "TR.PriceClose"],
                    interval="daily",
                    start='2022-2-22',
                    end='2023-2-21',)

In [24]:
df1.head(5)

GOOG.O      Price Close
Date
2022-02-22     129.4025
2022-02-23      127.585
2022-02-24     132.6735
2022-02-25     134.5195
2022-02-28      134.891

In [25]:
rd.close_session()

## Yahoo Finance

In [13]:
df2 = yf.Ticker("GOOG")
print(df2.info)

{'regularMarketPrice': None, 'preMarketPrice': None, 'logo_url': ''}

In [19]:
# get historical market data
hist = df2.history(period="1y")

In [20]:
hist.head(5)

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2022-02-22 00:00:00-05:00,129.985001,131.900757,127.740997,129.402496,38906000,0,0.0
2022-02-23 00:00:00-05:00,131.078506,131.748993,127.503502,127.584999,26432000,0,0.0
2022-02-24 00:00:00-05:00,125.000000,133.037003,124.764503,132.673492,43166000,0,0.0
2022-02-25 00:00:00-05:00,133.525497,135.389008,131.764999,134.519501,26236000,0,0.0
2022-02-28 00:00:00-05:00,133.284500,135.640503,132.825256,134.891006,29676000,0,0.0

## FinanceDataReader
(https://github.com/financedata-org/FinanceDataReader)

In [35]:
#!pip install finance-datareader
import FinanceDataReader as fdr

In [36]:
df4 = fdr.DataReader('GOOG', '2022-02-22', '2023-02-21')

df4.head(5)

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2022-02-22,129.985001,131.900757,127.740997,129.402496,129.402496,38906000
2022-02-23,131.078506,131.748993,127.503502,127.584999,127.584999,26432000
2022-02-24,125.000000,133.037003,124.764503,132.673492,132.673492,43166000
2022-02-25,133.525497,135.389008,131.764999,134.519501,134.519501,26236000
2022-02-28,133.284500,135.640503,132.825256,134.891006,134.891006,29676000